@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    color: #fe00ae;
    font-weight: bold;
}
.formulario{
    background-image:
    url(https://images.unsplash.com/photo-1615556626922-68da0c9f4350?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

form{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 10px;
    padding: 20px;
}

h2{
    font-family: 'Monoton';
    color: #EC68B5;
    text-shadow: 0 0 1px #fff, 0 0 42px #ec68b5, 0 0 40px #ec68b5;
    text-align: center;
    text-decoration: underline;
}

form > input{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    min-height: 20px;
    border: unset;
    border-radius: 4px;
    outline-color: #EC68B5;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

button {
    background-color: #EC68B5;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
    padding: 15px;
    font-size: 1em;
    border: none;
}
.platform > input {
    width: 20px;
    height: 15px;
    margin-right: 5px; 
    box-shadow: unset;
    min-height: unset;
}

form > label{
    font-weight: bold;
    font-size: 1.3em;
}

.platform{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 1px solid grey;
    padding: 15px;
}
.platform div{
    width: 30%;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.formulario{
    padding: 2rem;
}

@media only screen and (min-width: 1000px) {
    form{
        width: 45vw;
    }
  }