<section>
	<p class="welcome">WELCOME TO THE 2022 EDITION OF</p>
	<p class="award">THE GAME AWARDS!</p>

	<input class="input" [(ngModel)]="filter" type="text" placeholder="&#61442;"/>
	<div class="cards">
		<div class="card" *ngFor="let game of (gameData | filterGames:filter)">
			<img src="{{ game.img }}" alt="{{ game.title }}" />
			<div class="card__content">
				<h3>{{ game.title }}</h3>
				<h4>{{ game.platform }}</h4>
				<h4>{{ game.genre }}</h4>
			</div>
			<div class="card__buttons">
				<button class="button-49" (click)="catchGame(game)">VOTE!</button>
				<button class="button-49" (click)="catchGame(game)">EDIT</button>
			</div>
		</div>
	</div>
</section>
