@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Rajdhani:wght@500&family=Russo+One&display=swap');

section{
    background: url('../../../assets/images/city.jpg');
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.welcome{
  padding-top: 10px ;
    text-align: center;
    font-family: 'Russo One';
    font-size: 70px;
    font-smooth: auto;
    text-shadow: 0 1px 0#000000,
                 0 2px 0 #070004,
                 0 4px 0 #801955,
                 0 5px 0 #2f031c,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15),
                 0 3px 0 #88215d;
    color: #fe00ae
}
.award{
    text-align: center;
    font-family: 'Russo One';
    font-size: 90px;
    font-smooth: auto;
    text-shadow: 0 1px 0#000000,
                 0 2px 0 #070004,
                 0 4px 0 #801955,
                 0 5px 0 #2f031c,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15),
                 0 3px 0 #88215d;
    color: #fe00ae
}

.cards{
    margin-top: 100px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.card{
    border: 0.5rem solid #fff;
    border-radius:10px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #fe00ae,
              0 0 0.8rem #fe00ae,
              0 0 2.8rem #fe00ae,
              inset 0 0 1.3rem #fe00ae;
    background-color: #696b53b2;
    background: url(../../../assets/images/1.jpg);
}    

    img{
      width: 100%;
    height: 15vw;
    display: block;
      
}
.card__content{
    text-align: center;
    line-height: 1.5;
    font-size: 25px;
    font-weight: bolder;
    padding: 15px;
    font-family: 'Russo One', sans-serif;
    color: #09f9cd;
    text-shadow: 0 1px 0#000000,
                 0 2px 0 #070004,
                 0 4px 0 #fe00ae,
                 0 5px 0 #2f031c,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15),
                 0 3px 0 #fe00ae;
    color: #09f9cd
}

.card__buttons{
    margin-top: 10px;
    padding: 30px;
    display:flex;
    justify-content:space-between;
    gap: 50px;
}


.button-49,
.button-49:after {
  width: 130px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #fe00ae 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #fe00ae 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

// Swal.fire({
//   title: 'Sweet!',
//   text: 'Modal with a custom image.',
//   imageUrl: 'https://unsplash.it/400/200',
//   imageWidth: 400,
//   imageHeight: 200,
//   imageAlt: 'Custom image',
// })


