section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.welcome{
    font-size: 40px;
    font-smooth: auto;
    text-shadow: 0 1px 0#000000,
                 0 2px 0 #070004,
                 0 4px 0 #801955,
                 0 5px 0 #2f031c,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15),
                 0 3px 0 #88215d;
    color: #fe00ae
}
.award{
    font-size: 60px;
    font-smooth: auto;
    text-shadow: 0 1px 0#000000,
                 0 2px 0 #070004,
                 0 4px 0 #801955,
                 0 5px 0 #2f031c,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15),
                 0 3px 0 #88215d;
    color: #fe00ae
}