$retroColor : #EC68B5;

.podium{
    width: 100%;
    background: url("../../../assets/images/city.jpg");
    padding-top: 80px;
    padding-bottom: 80px;

    .crown{
        width: 10%;
        position: relative;
        transform: translateX(855px) translateY(30px);

    }

    h2{
        text-align: center;
        color: $retroColor;
        font-family: 'Monoton';
        font-size: 2rem;
        text-decoration: underline #4206F1;
    }

    &__gotys{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        img{
            width: 20vw;
            height: 46vh;
        }

        &--game{
            text-align: center;

            .div__votes{
                width: 100px;
                margin: 0 auto;
                position: relative;
                transform: translateY(-40px);
                .votes{
                    background-color: #2bd1fc;
                    border-radius: 4px;
                    color: white;
                    font-weight: bolder;
                    font-size: 1.5rem;
                }
            }
            
            
        }

        &--game:nth-child(odd){
            margin-top: 100px;
        }

    }

    

    // &__game:nth-child(odd){
    //     margin-top: 100px;
    // }
}