$retroColor : #EC68B5;

.podium{
    width: 100%;
    background: url("../../../assets/images/city.jpg");
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .crown{
        width: 10%;
        position: relative;
        transform: translateY(30px);
    }

    h2{
        text-align: center;
        color: $retroColor;
        font-family: 'Monoton';
        font-size: 2rem;
        text-decoration: underline #4206F1;
    }

    &__gotys{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        img{
            width: 20vw;
            height: 46vh;
        }

        &--game{
            text-align: center;

            .div__votes{
                width: 100px;
                margin: 0 auto;
                position: relative;
                transform: translateY(-40px);
                .votes{
                    line-height: 78px;
                    font-size: 20px;
                    font-family: 'Bebas Neue', sans-serif;
                    background: linear-gradient(45deg, transparent 5%, #fe00ae 5%);
                    border: 0;
                    color: #fff;
                    letter-spacing: 3px;
                    box-shadow: 6px 0px 0px #00E6F6;
                    outline: transparent;
                    position: relative;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;

                    
                }
            }
            
            
        }

        &--game:nth-child(odd){
            margin-top: 100px;
        }

    }

    // &__game:nth-child(odd){
    //     margin-top: 100px;
    // }
}


