<header>
    <div class="headercontent">
        <!-- <img src="../../../assets/logo.png"> -->
        <h1 class="headercontent__title neonText">TGA2022</h1>

        <ul class="headercontent__menu">
            <li><a href="" class="neonText">Home</a></li>
            <li> <a href=""class="neonText">Podium</a></li>
            <li> <a href=""class="neonText">Management</a></li>
        </ul>

        <input class="headercontent__input" type="text" placeholder="&#61442;"/> <br/>
    </div>
</header>