*{
    margin: 0;
    padding: 0;
}

li{
     list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}



body{
    font-family: 'Russo One', cursive;
    
    background-image:url("./assets/images/city.jpg");
    color: whitesmoke;
}