<footer>
	<div class="footercontent">
		<div class="footercontent__social">
			<i class="fa-brands fa-instagram"></i>
			<i class="fa-brands fa-twitter-square"></i>
			<i class="fa-brands fa-facebook-square"></i>
			<a href="https://github.com/sthifer/TheGameAwards-Angular"><i class="fa-brands fa-github-square github"></i></a>
		</div>
		<div class="footercontent__members">
			<h3>Developers:</h3>
			<p>Javier Fernández</p>
			<p>Javier Esclapes AKA: Jay</p>
			<p>Álvaro Fuentenebro</p>
		</div>
		<div class="footercontent__copyright">
			<p>© 2022 Game Awards Practise</p>
		</div>
	</div>
</footer>
